<!-- Header -->
<header id="header" class="bg-secondary">
    <nav class="container mx-auto flex justify-start items-center py-8 px-4">
        <!-- App Name -->
        <a
            class="text-3xl text-indigo-400 font-bold uppercase mr-4"
            routerLink="/"
            >Clipz</a
        >

        <div class="flex flex-grow items-center">
            <!-- Primary Navigation -->
            <ul class="flex flex-row mt-1">
                <!-- Navigation Links -->
                <ng-container *ngIf="!(auth.isAuth$ | async)">
                    <li>
                        <a
                            class="px-2 text-sm md:text-lg"
                            href="#"
                            (click)="openModal($event)"
                            >Login / Register</a
                        >
                    </li>
                </ng-container>
                <ng-container *ngIf="auth.isAuth$ | async">
                    <li>
                        <a
                            class="px-2 text-sm md:text-lg"
                            routerLink="/manage"
                            routerLinkActive="text-indigo-400"
                            [routerLinkActiveOptions]="{ exact: true }"
                            [queryParams]="{ sort: '1' }"
                            >Manage</a
                        >
                    </li>
                    <li>
                        <a
                            class="px-2 text-sm md:text-lg"
                            routerLink="/upload"
                            routerLinkActive="text-indigo-400"
                            [routerLinkActiveOptions]="{ exact: true }"
                            >Upload</a
                        >
                    </li>
                </ng-container>
                <li>
                    <a
                        class="px-2 text-sm md:text-lg"
                        routerLink="/about"
                        routerLinkActive="text-indigo-400"
                        [routerLinkActiveOptions]="{ exact: true }"
                        >About</a
                    >
                </li>
            </ul>
            <!-- User Options -->
            <ul class="flex flex-row ml-auto">
                <ng-container *ngIf="auth.isAuth$ | async">
                    <li>
                        <lord-icon
                            src="https://cdn.lordicon.com/dxjqoygy.json"
                            trigger="loop"
                            delay="4000"
                            colors="primary:#818CF8,secondary:#	818CF8"
                            class="hidden md:block overflow-hidden border-2 border-indigo-400 rounded-full"
                            state="hover-looking-around"
                            style="width: 30px; height: 30px"
                        >
                        </lord-icon>
                    </li>
                    <li>
                        <a class="hidden px-2 md:inline md:text-lg" href="#">
                            {{ userData?.displayName }}
                        </a>
                    </li>
                    <li>
                        <a
                            class="px-2 text-sm md:text-lg hover:text-red-500 ease-in-out duration-300"
                            href="#"
                            (click)="auth.logOut($event)"
                            >Log out</a
                        >
                    </li>
                </ng-container>
            </ul>
        </div>
    </nav>
</header>
